centraliser {
    padding: 5px 10px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 10px;
}

pre.bashHtml {
    background:#a19f9f;
    color:#eaeaea;
    padding:15px;
    border-radius:8px;
    overflow-x:auto;
}

code.scriptHtml { 
    font-family: monospace; 
}

/* make_pals_corpus.html */
div.blockText {
    display:none; 
    max-height:300px; 
    overflow-y:auto; 
    border:1px solid #ccc; 
    margin-bottom:10px; 
    width:20%; 
    margin-left:auto; 
    margin-right:auto; 
    background:#f0f9fc; 
    border-radius:6px;
}

p.blockTitre {
    position: sticky; 
    top:0; z-index:1; 
    margin:0; 
    padding:5px; 
    border-bottom:1px solid #ccc;
}

div.blockGe {
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: flex-start;  /* aligne en haut de chaque ligne */
    gap:10px;
    min-height: 320px;       /* hauteur minimum pour le centrage vertical */
}

/* Wordcloud */
pre.pals_wc {
    background-color: rgb(240, 249, 252); 
    color: rgb(211, 8, 8);
    margin: 10px auto; 
    width: 70%; 
    text-align: justify;
}

/* Image wordcloud */
.wordcloud-row {
    display: flex;
    justify-content: center;   /* centre la ligne */
    align-items: center;
    gap: 20px;                 /* espace entre les images */
    margin-top: 25px;
}

img.wc {
    width: 40%;                /* chacune prend 40% */
    max-width: 400px;          /* évite qu’elles deviennent énormes */
    height: auto;
}